<h1>iConnect | <%=title%></h1>

<% if(locals.user) {%> 
    <h2>
        Welcome <%= user.name %> 
    </h2>
<% } %> 

<section id="feed-posts">
    <h1>Posts</h1>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type here...."></textarea>
        <input type="submit" value="Post">
    </form>
</section>