#feed-posts{
    margin: 20px 0;
    h1{
        color: darkblue;
    }
    textarea{
        resize: none;
    }
    input[type="submit"]{
        cursor: pointer;
    }

    #posts-list-container{
        li{
            margin:25px 0;
        }
    }
}


.home-container{
    display: flex;
    #feed-posts{
        width: 70%;
    }
    #user-freinds{
        width: 30%;
        margin: 20px 0;
        padding: 10px;
        border-left: 2px solid rgb(198, 198, 198);
    }
}