#feed-posts {
  margin: 20px 0; }
  #feed-posts h1 {
    color: darkblue; }
  #feed-posts textarea {
    resize: none; }
  #feed-posts input[type="submit"] {
    cursor: pointer; }
  #feed-posts #posts-list-container li {
    margin: 25px 0; }

.home-container {
  display: flex; }
  .home-container #feed-posts {
    width: 70%; }
  .home-container #user-freinds {
    width: 30%;
    margin: 20px 0;
    padding: 10px;
    border-left: 2px solid #c6c6c6; }
